
:root {
  --ordered-list-left-gap: var(--instructionLeftPadding);

  --button-withIcon-border: none;
  
  /* Sizing */
  --landmark-padding-inline: var(--gap-I);

  --button-min-width: calc(var(--wordLengthMin) + (var(--button-padding-inline) * 2));
  --button-min-height: var(--WCAG___min-dimention_AAA);
  --button-padding-inline: var(--gap-I);
  --button-padding-block: var(--gap-I);
  --button-padding-horiz: 0;
  --button-padding-vert: 0;
  
  --button-with-icon-inline-padding: 0;

  /* --header-margin-block: var(--gap-IV) min(var(--headerMarginMin), var(--gap-II)); */

  /* between 24 and 16, depending on the width */
  --header__padding-block: clamp(var(--headPadVertMin), var(--headPadVertIdeal), var(--headPadVertMax));
  /* between 16 and 8, depending on the width */
  --header__links-gap: clamp(var(--headLinkMin), var(--headLinkIdeal), var(--headLinkMax));

  --link__min-height: var(--WCAG___min-dimention_AAA);
  --link__min-width: var(--WCAG___min-dimention_AAA);
  /* very specific dimetion, used in one place - no need for stronger abstraction */
  --link__padding-inline: calc(2 / 16 * 1rem);
  --link__outline-width: var(--borderWidthSecondary);
  --link__border-width: var(--link__outline-width);
  --link__outline-offset: var(--borderWidthSecondary);

  /* between 22 and 18 px, depending on the width*/
  --link__font-size: clamp(var(--linkFontMin), var(--linkFontIdeal), var(--linkFontMax));

  --sidebar__gap: clamp(var(--sidebarGapMin), var(--sidebarGapIdeal), var(--sidebarGapMax));
  --sidebar__padding: var(--sidebarPadTop) var(--sidebarPadRight) var(--sidebarPadBottom) var(--sidebarPadLeft);
  --sidebar__padding_breakpoint: var(--sidebarPadTop_breakpoint) var(--sidebarPadRight_breakpoint) var(--sidebarPadBottom_breakpoint) var(--sidebarPadLeft);

  --main-margin-bottom: var(--gap-IV);

  --title-margin-bottom: var(--gap-II);
  --title-subheading-margin: var(--marginCentering);
  --title-subheading-width: var(--titleSubheadingWidth);

  --content-width: clamp(var(--siteWidthMin), var(--siteWidthIdeal), var(--siteWidthMax));
  --content-margins: var(--marginCentering);
  --content__padding: var(--gap-I);
  /* --content__padding: clamp(var(--contentPadMin), var(--contentPadIdeal), var(--contentPadMax)); */

  --disclosure-button-margin-bottom: var(--gap-II);
  --disclosure-control-icon-gap: var(--gap-II);

  --instruction-margin-block: var(--gap-I) var(--gap-IV);
  --instruction-item-margin: var(--instructionTextGap);
  --instruction-max-width: var(--optimalReadingWidth);

  --tab-padding: var(--tabBlockPadding);
  --tab-padding-current: var(--tabBlockPaddingCurrent);
  --tab-left-margin: var(--marginCorrection-I);
  --tab-concealer-width: var(--fullWidth);
  --tab-concealer-height: var(--concealerHeight);
  --tabpanel-padding: clamp(var(--tabpanelPaddingMin), var(--tabpanelPaddingIdeal), var(--tabpanelPaddingMax));
  --tab-icon-gap: var(--gap-I);
  --tab-caption-padding: var(--tabCaptionPadding);
  --tab-selected-padding: var(--tabSelectedPadding);
  --tabpanel-min-height: var(--tabpanelHeightMin);

  --cards-container-gap: clamp(var(--cardsContainerGapMin), var(--cardsContainerGapIdeal), var(--cardsContainerGapMax));
  --card-padding: min(var(--cardPaddingMin), var(--cardPaddingMax));
  --card-gap: var(--gap-II);
  /* --card-gap: var(--gap-III); */
  --card-height: var(--fullHeight);
  --cards-line-height: var(--lineHeightReset);
  --card-check-gap: var(--gap-II);
  --card-phrase-gap: var(--gap-III);
  /* --card-phrase-gap: var(--gap-IV); */
  /* --card-phrase-gap: var(--gap-II); */

  --updated-card-cover-width: calc(var(--fullWidth) - (var(--card-padding) * 2));

  --footer-subheading-margin: var(--gap-I) var(--gap-I);
  --footer-margin-bottom: var(--gap-III);
  --footer-text-margin-bottom: var(--instruction-item-margin);
  --footer-text-max-width: var(--optimalReadingWidth);

  --alert-max-width: var(--alerWidthMax);
  --alert-padding: var(--gap-I);

  /* Font */

  --link__font-weight: var(--fontWeightMax);

  --text-font-family: var(--sans-I), var(--sans-II), var(--sans-III), var(--sans-IV), sans-serif;
  --heading-font-family: var(--serif-I), var(--serif-II), serif;
  /* --button-withIcon-font-family: var(--text-font-family); */

  --text-font-size: clamp(var(--textMin), var(--textIdeal), var(--textMax));
  --control-font-size: var(--controlOnly);
  --title-font-size: clamp(var(--titleMin), var(--titleIdeal), var(--titleMax));
  --title-subheading-text-size: clamp(var(--titleSubheadingMin), var(--titleSubheadingIdeal), var(--titleSubheadingMax));
  --subheading-font-size: clamp(var(--subheadingMin), var(--subheadingIdeal), var(--subheadingMax));
  --card-text-font-size: clamp(var(--textCardMin), var(--textCardIdeal), var(--textCardMax));

  --heading-text-transform: uppercase;

  --text-line-height: var(--lineHeightBig);
  /* --button-withIcon-text-decoration: var(--underlinedNoBorder); */
  --title-line-height: var(--lineHeightSmallLargeFont);
  --subheading-line-height: var(--lineHeightSmall);

  --body-font-weight: var(--fontWeightMax);
  --tabpanel-empty-fontweight: var(--fontWeightMin);
  --text-font-weight: var(--fontWeightMin);

  --title-text-alignment: center;
  --title-subheading-text-alignment: center;

  --heading-letter-spacing: var(--letterSpacingCaps);
  --text-letter-spacing: var(--letterSpacingWCAG);
  --text-word-spacing: var(--wordSpacingWCAG);
  --button-letter-spacing: var(--text-letter-spacing);
  --button-word-spacing: var(--text-word-spacing);

  /* Changes between 22 and 18 px*/
  --sidebar-heading__font-size: clamp(var(--sidebarHeadFontMin, var(--sidebarHeadFontIdeal), var(--sidebarHeadFontMax)));
  --sidebar-heading__font-weight: var(--fontWeightMin);
  --sidebar-heading__text-transform: var(--heading-text-transform);
  
  --title-subheading-text-wrap: pretty;

  --button-with-icon-vertical-align: super;
  --button-with-icon-icon-vertical-align: middle;

  --updated-card-cover-font-size: var(--title-font-size);
  --updated-card-cover-font-family: var(--heading-font-family);
  --updated-card-cover-text-align: center;

  --alert-font-size: var(--control-font-size);
  --alert-line-height: var(--text-line-height);
  --alert-font-weight: var(--fontWeightMax);
  --alert-text-wrap: pretty;

  /* Icons */
  --disclosure-control-icon-width: var(--iconTriangleWidth);
  --disclosure-control-icon-height: var(--iconTriangleHeight);
  --disclosure-control-icon-flip: var(--turnUpSideDown);
  --disclosure-control-icon-unflip: var(--turnReset);
  --disclosure-control-icon-shape: var(--clipPathTriangle);

  --tab-icon-size: var(--emojiMax);
  --tab-icon-line-height: var(--lineHeightEmoji);

  /* Borders and outlines */
  --tab-bottom-border: var(--reset);
  --tab-border: var(--borderWidthPrimary);
  --current-tab-border-width: var(--borderWidthSecondary);
  --tab-selected-bottom-border: var(--resetNumber);
  /* --tab-selected-border:  */
  --tabpanel-border: var(--borderWidthSecondary);
  --tab-shadow-on-focus: unset;
  --tab-outline-on-focus: unset;
  --tab-inner-outline: var(--innerOutlineOnFocus);
  --tab-inner-shadow: var(--innerShadowOnFocus);

  --updated-card-border: var(--reset);
  --updated-card-cover-border-width: var(--updatedCardCoverBorder);

  --alert-border-width: var(--borderWidthPrimary);

  /* Position */
  --root-position: relative;
  --tab-position: var(--positionInFlow);
  --tab-concealer-position: var(--positionOutOfFlow);

  --tab-concealer-bottom: var(--shiftDownConcealer);
  --tab-concealer-left: var(--shiftLeftConcealer);

  --card-position: relative;

  --updated-card-cover-position: absolute;
  --updated-card-cover-vertical-shift: var(--half);
  --updated-card-cover-inset: var(--resetNumber);

  --alert-position: fixed;
  --alert-bottom: var(--alertInset);
  --alert-left: var(--alertInset);

  /* Layers */
  --tab-concealer-z-index: var(--layerHigher-I);
  --tab-current-z-index: var(--layerHigher-I);
  --updated-card-cover-layer: var(--layerHigher-I);
  --alert-z-index: var(--layerHigher-I);

  /* Display */
  --tabpanel-concealer-display: block;
  --hide-emoji: none;
  --empty-alert-display: none;

  /* Layout */
  --main-display: flex;
  --main-direction: column;

  --disclosure-button-layout: flex;
  --disclosure-button-horizontal-aling: center;
  --disclosure-button-icon-layout: inline-flex;

  --tab-caption-layout: flex;
  --tab-caption-centering: center;
  --tabpanel-empty-grid-column: var(--allColumns);
  --tabpanel-flex: 2;

  --tab-caption-direction-narrow-screen: column;
  --tab-caption-align-items-narrow-screen: flex-start;

  --tablist-layout: flex;
  --tablist-align-items: flex-end;

  --card-container-layout: grid;
  --cards-container-template: repeat(auto-fit, minmax(min(100%, var(--cardWidthMin)), 1fr));
  --cards-container-auto-rows: auto;
  --cards-container-align-items: center;

  --card-layout: flex;
  --card-flex-direction: column;
  --card-phrase-layout: flex;
  --card-phrase-flex: 2;
  --card-phrase-flex-direction: column;
  --card-phrase-justify-content: space-between;
  --card-check-layout: flex;

  /* Opacity */
  --updated-card-content-opacity: 0;
  --updated-card-cover-opacity: 0;
  /* --tab-concealer-initial-opacity: 0; */

  /* Transform */
  --disclosure-button-icon-transform: rotate(var(--disclosure-control-icon-unflip));
  --updated-card-cover-vertical-shift-correction: translateY(var(--halfReverse));

  /* Animations */

  --button-transition: box-shadow var(--transitionDurationNone) ease-out, outline var(--transitionDurationNone), background-color var(--transitionDuration-I) ease-out;
  --disclosure-button-icon-transition: all var(--transitionDuration-II) ease-out;
  --tab-caption-transition: background-color var(--transitionDuration-I) ease-out;
  --focus-transition-scaling: box-shadow var(--transitionDuration-III) ease-out, outline var(--transitionDuration-III) ease-out;
  --button-transition-on-hover: background-color var(--transitionDuration-I) ease-out;

  --updated-tab-animation-duration: var(--animationDuration-III);
  --updated-tab-repeats: var(--once);

  --updated-card-cover-animation-duration: var(--animationDuration-I);
  --updated-card-cover-animation-repeats: var(--once);
  --updated-card-cover-starting-opacity: var(--invisible);
  --updated-card-cover-middle-opacity: var(--visible);
  --updated-card-cover-finishing-opacity: var(--invisible);

  --alert-opacity: var(--invisible);
  --alert-animation-duration: var(--animationDuration-II);
  --alert-animation-repeats: var(--once);
  --alert-starting-opacity: var(--invisible);
  --alert-middle-opacity: var(--visible);
  --alert-finishing-opacity: var(--invisible);

  /* Interactive */
  --updated-card-cover-pointer-events: var(--noEvents);
  --button-cursor: pointer;
  --disabled-cursor: not-allowed;
}