/* Starting point for the ideal gap/size - max + 10px */

/* PROBLEM: some ideals should be in tokens because they are not referencing, but it would brake the logic */

:root {

  /* Font */

  --sidebarHeadFontMin: var(--textMin);
  --sidebarHeadFontIdeal: var(--textIdeal);
  --sidebarHeadFontMax: var(--textMax);

  --linkFontMin: var(--textMin);
  --linkFontIdeal: var(--textIdeal);
  --linkFontIdeal: var(--textMax);

  /* Size */
  
  --headPadVertMin: var(--gap-II);
  --headPadVertIdeal: calc((24 * 100 / 1352) * 1vw);
  --headPadVertMax: var(--gap-III);

  --sidebarGapMin: var(--gap-II);
  --sidebarGapIdeal: calc((42 * 100 / 1352) * 1vw);
  --sidebarGapMax: var(--gap-IV);
  
  --sidebarPadRight: var(--resetNumber);
  --sidebarPadRight_breakpoint: var(--gap-II);
  --sidebarPadBottom: var(--gap-III);
  --sidebarPadBottom_breakpoint: var(--gap-II);
  --sidebarPadLeft: var(--resetNumber);

  --buttonPadInline: var(--gap-I);
  --buttonMinHeight: var(--WCAG___min-dimention_AAA);
  --buttonMinWidth: var(--WCAG___min-dimention_AAA);
}