.disclosure__control {
  height: var(--disclosure-control__height);
  min-width: var(--disclosure-control__min-width);
  padding: var(--disclosure-control__padding);

  font-weight: var(--disclosure-control__font-weight);
  text-transform: var(--disclosure-control__text-transform);
  text-decoration: var(--disclosure-control__text-decoration);
  text-underline-offset: var(--dissclosure-control__underline-offset);
  letter-spacing: var(--dissclosure-control__letter-spacing);

  border: var(--disclosure-control__border);
}

.disclosure__control:focus-visible, .disclosure__control:hover {
  --background-color: var(--colorPrimary);
  --text-color: var(--colorPrimaryInverted);
  /* outline: var(--disclosure__outline-width) solid var(--disclosure__color);
  outline-offset: var(--disclosure__outline-offset); */
}