.sidebar {
  display: grid;
  grid-template-columns: auto;
  gap: var(--sidebar__gap);

  padding: var(--sidebar__padding);
}

.sidebar h2 {  
  font-size: var(--sidebar-heading__font-size);
  font-weight: var(--sidebar-heading__font-weight);
  text-transform: var(--sidebar-heading__text-transform);
}

.sidebar .sidebar-link_separate {
  margin-block-start: var(--sidebar__gap);
}

@media screen and (min-width: calc(560 / 16 * 1rem)) {
  .sidebar {
    padding: var(--sidebar__padding_breakpoint);
  }
}