.practice {
  display: grid;
  grid-template-columns: auto;
  gap: var(--practice__gap);

  /* Temp */
  margin-bottom: 3rem;
}

.practice h2 {
  margin-block-end: var(--practice-subheading__margin);

  font-family: var(--practice-subheading__font-family);
  text-transform: var(--practice-subheading__text-transform);
  letter-spacing: var(--practice-subheading__letter-spacing);
}

.practice__phrase {
  display: grid;
  grid-template-columns: auto;
  gap: var(--practice-phrase__gap);
}

.practice__phrase div:has(> button) {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: var(--practice-buttons__gap);
}

.practice__phrase_subheading {
  display: block;

  margin-block-end: var(--practice-phrase-heading__margin);

  font-family: var(--practice-subheading__font-family);
  text-transform: var(--practice-subheading__text-transform);
  letter-spacing: var(--practice-subheading__letter-spacing);
}

.practice__phrase button {
  padding-inline: var(--practice-buttons__padding-inline);

  font-size: var(--practice-buttons__font-size);
}

.correct {
  --text-color: var(--correct-text-color);
}

.wrong {
  --text-color: var(--wrong-text-color);
}

.correct:focus-visible {
  --outline-color: var(--correct-text-color);
  --background-color: var(--correct-text-color);
}

.wrong:focus-visible {
  --outline-color: var(--wrong-text-color);
  --background-color: var(--wrong-text-color);
}

.correct:focus-visible:is(button), .wrong:focus-visible:is(button) {
  --text-color: var(--colorPrimary);
}

.correct:hover:is(button) {
  --text-color: var(--colorPrimary);
  --outline-color: var(--correct-text-color);
  --background-color: var(--correct-text-color);
}

.wrong:hover:is(button) {
  --text-color: var(--colorPrimary);
  --outline-color: var(--wrong-text-color);
  --background-color: var(--wrong-text-color);
}